# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.DS_Store

# Testing
test_*.py
*_test.py

# Distribution
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
ENV/

# IDE
.vscode/
.idea/
*.swp

# Logs
*.log

# Environment variables
.env

# Lambda layer package
layer.zip
